<% countries_visited = [] %>
<% @user.trips do |trip| %>
  <%countries_visited.push(trip.destination)%>
<% end %>

<%countries = TripsController.countries%>
<%values = countries.values%>
<%currentCountry = nil%>

<%loop do %>
  <%currentCountry = values[rand(values.size)]%>
  <%break if(!(countries_visited.include? currentCountry))%>
<% end %>

<%trip = Trip.new(verified: false,price: 10,destination: currentCountry,startDate: Time.now+3.days,returnDate: Time.now+10.days)%>
<%trip.venue_holder = VenueHolder.new(trip.destination,trip.body)%>
<%trip.venue_holder.venues do |venue|%>
  <div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
      <div class="card">
        <div class="card-content">
          <p>venue.city<p>
        </div>
      </div>
    </div>
  </div>
<% end %>
