<div id="index-main" style="height: 100vh";>
  <div class="row">
    <div class="col s4 offset-m2 offset-s2">
      <br><br><br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col s6 offset-m2 offset-s2">
      <p style='color: white; font-family: "radnika"; font-size: 6em;'>Travel the world</p>
      <p style='color: white; font-family: "radnika"; font-size: 6em;'>spontaneously</p>
    </div>
  </div>

  <br><br><br><br><br>

  <div class="row">
    <div class="col s6 offset-m2 offset-s2">
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col s6 offset-m2 offset-s2">
      <div class="col 4">
        <%= link_to 'sign up', signup_path, class: 'btn', style: 'font-family: "radnika"; color: white;' %>
      </div>
      <div class="col 4">
        <%= link_to 'sign in', login_path, class: 'btn', style: 'font-family: "radnika"; color: white;' %>
      </div>
      <div class="col 4">
        <%= link_to 'contact us', root_path, class: 'btn', style: 'font-family: "radnika"; color: white;' %>
      </div>
    </div>
  </div>

</div>
