@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@font-face {
   font-family: 'radnika';
   src: asset-url('Radnika-Medium.ttf')
}

body {
  padding: 0;
  margin: 0 !important;
}

.nav-option {
  font-family: 'radnika' !important;
  color: #767877 !important;
}

.completed-items:hover {
  color: #202221 !important;
}

#nav-title {
  font-family: 'radnika' !important;
  color: white;
  margin-left: 1vw;
}

#nav-title:hover {
  background: transparent;
}

#index-main {
  background-image: url(index_background.jpg);
  background-size: cover;
}

#trip-edit {
  background-image: url(forestImage.jpg);
  background-size: cover;
}
/*Creates table with scrollable tbody*/
#dashboard-tbody {
  display:block;
  height:150px;
  overflow:auto;
}
#dashboard-thead {
  display:table;
  width:100%;
  table-layout:fixed;
}
#dashboard-thead {
  width: calc( 100% - 1em )
}
#dashboard-table {
  width:100%;
}

#fixed-button {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 15vh;
  margin: 0;
}

.btn-large {
  text-transform: none;
}
