@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@font-face {
   font-family: 'radnika';
   src: asset-url('Radnika-Medium.ttf')
}

body {
  padding: 0;
  margin: 0 !important;
}

.nav-option {
  font-family: 'radnika' !important;
  color: #767877 !important;
}

#nav-title {
  font-family: 'radnika' !important;
  color: white;
  margin-left: 1vw;
}

#nav-title:hover {
  background: transparent;
}

#index-main {
  background-image: url(index_background.jpg);
  background-size: cover;
}
