<nav class="nav-extended z-depth-1" style="background: white">
  <div class="nav-wrapper valign-wrapper">
    <%= link_to "EarthSkipper", root_path, class: "brand-logo right", id:"nav-title" %>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to "First", "#{root_path}", class: "custom-font" %></li>
      <li><%= link_to "Second", "#{root_path}", class: "custom-font" %></li>
      <li><%= link_to "Sign out", "#{root_path}", class: "custom-font" %></li>
    </ul>
  </div>
</nav>
